$mainColor: #ff4000;
$secondaryColor: #00ff04;
$tertiaryColor: #0080ff;
$grey: #a5958c;
$darkColor1: #333;
$darkColor2: #777;
$darkColor3: #999;
$lightColor1: #faf9f9;
$lightColor2: #f4f2f2;
$lightColor3: #f0eeee;
$lightColor4: #ccc;
$white: #ffffff;
