$mainColor: #f49404;
$secondaryColor: #009900;
$tertiaryColor: #303395;
$grey: #a5958c;
$darkColor1: #333;
$darkColor2: #777;
$darkColor3: #999;
$lightColor1: #faf9f9;
$lightColor2: #f4f2f2;
$lightColor3: #f0eeee;
$lightColor4: #ccc;
$white: #ffffff;
$black: #000000;

$color-tw: #4099ff;
$color-fb: #3B5998;
$color-wp: #4dc247;
$color-ln: #007bb5;
